
.homeDisplay{
    display: grid;
    grid-template-columns: 2.5fr,1.5fr;
    border: 3px solid hotpink;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #888888;
}
.homeDisplay:hover{
        -ms-transform: scale(0.5); /* IE 9 */
        -webkit-transform: scale(0.5); /* Safari 3-8 */
        transform: scale(1.1); 
}
.imgSize{
    height: 100px;
    width: 180px;
    border-radius: 20px;
    margin: 12px 3px 5px 5px;
    
}
.aligns{
    text-align: left;
    margin-left: 10px;
    line-height: 80%;
    margin-top: 10px;
}
